body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: blanchedalmond;
}

.section{
    border: solid 2px blue;
    background-color: thistle;
    margin: 10px;
}

.section h1, h2{
    background-color: blue;
    color: white;
    padding: 10px;
    margin-top: 0;
}

.section img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
  }

.content{
    margin: 0 20px 20px 20px;
}

.btn{
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
}

.btn-contact{
    background-color:rebeccapurple;
    color: white;
}

.btn-submit{
    background-color:green;
    color: white;
    width: 300px;    
}

.input-form{
    width: 300px;
}

.input-box input, select, textarea{
    float: right;
}

.footer{
    padding: 20px;
    background-color: black;
    color: white;
    text-align: center;
}
